---
layout: page
permalink: /tags/
title: Themen
---

<div class="post-tags">
  {% for tag in site.tags %}
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <a href="{{site.baseurl}}/tags/#{{tag| first |slugify}}">{{ tag_name | capitalize }}  ({{site.tags[tag_name].size}}) </a>
      {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>



<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugify }}"></div>
    <p></p>

    <h3 class="tag-head">{{ tag_name | capitalize }}</h3>
    <a name="{{ tag_name | slugify }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>