---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-tags a {
    border-radius: 10px;
    background: rgba(194, 212, 226, 0.705);
    padding: 5px; 
    font-size: 80%;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
  }
  

