---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-tags a {
    border-radius: 10px;
    background: rgba(194, 212, 226, 0.705);
    padding: 5px; 
    font-size: 80%;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
  }

  #markdown-toc::before {
    content: "Inhaltsverzeichnis:";
    line-height: 200%;
    font-weight: bold;
  }

  #markdown-toc {

    border-radius: 5px;
    list-style-type: none;
    background-color: rgba(194, 212, 226, 0.705);
    padding: 20px;
    float: right;
  }

  #markdown-toc ul{
    list-style-type: none;
    margin-bottom: 10px;
  }
  

